// Place all the styles related to the chess controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
$chess-color: #fc3232;

body {
  perspective: 1000px;
  transform: translateZ(0);
  background-color: white;
  color: black;
  transition: background-color 1s;
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.choose-team {
  opacity: 0;
  width: 500px;
  margin: 0 auto; 
}

.other-team-position {
  position: absolute;
}

.link-card {
  opacity: 0;
  z-index: -5;
  position: relative;
  bottom: 15px;
}

.selections {
  // opacity: 0;
  margin-top: 30px;
  img {
    width: 100px;
    height: auto;
  }
}

.them-card {
  height: 0px;
  opacity: 0;
}

.them {
  position: relative;
  bottom: 145px;
  img {
    width: 100px;
    height: auto;
  }
}

.card-choose {
  z-index: 5;
  background-color: transparent;
  .front {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  img {
    width: 100px;
    height: auto;
  }
  .back {
    z-index: -5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    img {
      transform: rotateY(180deg)
    }
  }
}

.ahead {
  z-index: 100;
}

.card-button {
  position: relative;
  background-color: transparent;
  img {
    position: relative;
    width: 100px;
    height: auto;
  }
}

.logo {
  transform: translateZ(-50);
  z-index: 10;
  img {
    width: 300px;
    height: auto;
  }

  &.minimal {
    img {
      width: 100px;
    }
  }
}


.btn-chess {
  background-color: black;
  color: white;
  &:hover {
    color: $chess-color;
  }
}

.red {
  transition: all 0.5s;
  background-color: $chess-color;
}

.blue {
  transition: all 0.5s;
  background-color: blue;
}

.possible_move {
  box-shadow: inset 0px 0px 40px rgba(255,255,255,1);
  &:hover {
    cursor: pointer;
  }
}

.checkmate-bg {
  &.red {
    background-color: rgba(red,0.0);
  }
  &.blue {
    background-color: rgba(blue,0.0);
  }
}

#board {
  // transform: rotateX(40deg);
  margin: 0 auto;
  td {
    transition: all 0.5s;
    text-align: center;
    width: 70px;
    height: 70px;
    img {
      width: 70px;
      height: 70px;
      transition: all 0.3s;
    }
  }
}

.piece {
  &:hover {
    cursor: pointer;
  }
}

.selected {
  img {
    transform: translateY(-10px);
  }
}

.graveyard-container {
  // margin: 0 auto;
  // text-align: center;
}

.new-dead {
  animation: fade-in-dead 1s 1;
}

.ghost {
  position: absolute;
  top: -10px;
  img {
    opacity: 0;
    transition: all 0.5s;
  }
  animation: float 1s infinite;
}

.stone {
  margin-bottom: 10px;
  &:hover {
    .ghost {
      img {
        opacity: 0.6;
      }
    }
  }
  opacity: 1;
  position: relative;
  img {
    height: 40px;
    width: auto;
  }
}

.in-check {
  animation: in-check infinite 1s;
}


@keyframes fade-in-dead {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
}


@keyframes in-check {
  50% {
    background-color: rgba(255,255,255,0.7);
  }
}

@keyframes float {
  50% {
    transform: translateY(5px);
  }
}

@keyframes lift {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(5px);
  }
}

@keyframes card-in {
  0% {
    z-index: -5;
  }

  50% {
  }

  100% {
    z-index: 1;
  }
}

.cards-container {
  width: 100%;
  height: 200px;
}

.cards {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 30px;
}

.my-card {
  z-index: -5;
  transition: all 0.5s;
  &:hover {
    transform: translateY(10px);
  }
  position: absolute;
  opacity: 0;
  top: 0;
  transform: translateX(00px) translateY(00px) rotateZ(0deg);

  img {
    width: 100px;
    height: auto;
  }
}

.card-active {
  opacity: 1;
  transition: all 0.3s;
}

.inactive {
  img {
    opacity: 0.7;
  }
}

.active-button {
  cursor: pointer;
  img {
    transition: all 0.3s;
  }
  &:hover {
    &.select-blue {
      img{
        box-shadow: 0 0 15px rgba(blue,0.7);
      }
    }
    &.select-red {
      img{
        box-shadow: 0 0 15px rgba(red,0.7);
      }
    }
  }
}

.link-container {
  position: relative;
  top: 160px;
  z-index: -40;
  margin: 0 auto;
  text-align: center;
}

#link-field {
  opacity: 0;
  z-index: -40;
  width: 100%;
  color: white;
  background: transparent;
  font-size: 1.2em;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  border: none;
  outline: none;
}

.link-card {
  z-index: 0;
  img{
    &:hover {
      cursor: pointer;
    }
  }
}
