<div class="container">

<div class="center">
  <br>
  <div class="logo">
    <%= image_tag('chess_logo.png')%>
  </div>
  <br>
  <%= link_to 'New Game', new_game_path, class: "btn btn-lg btn-chess" %>
</div>

</div>
